<!-- page heading start-->
<div class="page-heading">
  <ul class="breadcrumb">
    <li>
      <a href="/orders">订单管理</a>
    </li>
    <li class="active">
      <a href="">订单<%= @order.order_number %></a>
    </li>
    <li class="pull-right flex">
    </li>
  </ul>
</div>
<!-- page heading end-->

<div class="wrapper @order-detail">
  <div class="row">
    <div class="col-md-12">
      <% if notice %>
        <h4 style="color: #ff6666"><%= notice %></h4>
      <% end %>
      <div class="panel">
        <div class="panel-heading">
          订单详情
          <small>
            <%= link_to '编辑', edit_order_path(@order), class: 'pull-right flex' %>
          </small>
        </div>
        <div class="panel-body">

          <ul class="p-info o-info">
            <li>
              <div class="title">订单编号</div>
              <div class="desk"><%= @order.id %></div>
            </li>
            <li>
              <div class="title">订单价格</div>
              <div class="desk"><%= @order.price %>元</div>
            </li>
            <li>
              <div class="title">客户姓名</div>
              <div class="desk"><%= @order.customer_name %></div>
            </li>
            <li>
              <div class="title">客户手机号</div>
              <div class="desk"><%= @order.customer_tel %></div>
            </li>
            <li>
              <div class="title">司机</div>
              <div class="desk">
                <% @order.drivers.each do |d| %>
                  <%= link_to d.name + ' ', driver_path(d) %>
                <% end %>
              </div>
            </li>
            <li>
              <div class="title">业务员</div>
              <div class="desk">
                <% @order.sales.each do |s| %>
                  <%= link_to s.name + ' ', sale_path(s) %>
                <% end %>
              </div>
            </li>
            <li>
              <div class="title">车牌号</div>
              <div class="desk">
                <td><%= link_to (@order.car_head.try :car_number) || '', car_head_path(@order.car_number.blank? ? 0 : @order.car_number) %></td>
              </div>
            </li>
            <li>
              <div class="title">挂车号</div>
              <div class="desk">
                <td><%= link_to (@order.car_body.try :body_id) || '', car_body_path(@order.car_body_id.blank? ? 0 : @order.car_body_id) %></td>
              </div>
            </li>
            <li>
              <div class="title">货物</div>
              <div class="desk"><%= @order.goods %></div>
            </li>
            <li>
              <div class="title">货重</div>
              <div class="desk"><%= @order.weight %></div>
            </li>
            <li>
              <div class="title">发车地</div>
              <div class="desk"><%= @order.origin %></div>
            </li>
            <li>
              <div class="title">目的地</div>
              <div class="desk"><%= @order.destination %></div>
            </li>
            <li>
              <div class="title">途经站点</div>
              <div class="desk"><%= @order.via_stations %></div>
            </li>
            <li>
              <div class="title">运输距离</div>
              <div class="desk"><%= @order.distance %></div>
            </li>
            <li>
              <div class="title">发车时间</div>
              <div class="desk"><%= @order.start_time.try :strftime, '%Y-%m-%d %H:%M:%S' %></div>
            </li>
            <li>
              <div class="title">送到时间</div>
              <div class="desk"><%= @order.end_time.try :strftime, '%Y-%m-%d %H:%M:%S' %></div>
            </li>
            <li>
              <div class="title">油耗</div>
              <div class="desk"><%= @order.oil_consumption || 0 %>升</div>
            </li>
            <li>
              <div class="title">油费</div>
              <div class="desk"><%= @order.toll_gate || 0 %>元</div>
            </li>
            <li>
              <div class="title">过路费</div>
              <div class="desk"><%= @order.road_toll || 0 %>元</div>
            </li>
            <li>
              <div class="title">订单总成本</div>
              <div class="desk"><%= @order.total_fee || 0 %>元</div>
            </li>
            <li>
              <div class="title">预计收益</div>
              <div class="desk"><%= (@order.price || 0) - (@order.total_fee || 0) %>元</div>
            </li>
            <li>
              <div class="title">订单状态</div>
              <div class="desk"><%= @order.state_text %></div>
            </li>
            <li>
              <div class="title">销售员</div>
              <div class="desk"><%= (@order.sales.map {|s| s.name}).join(", ") %></div>
            </li>
            <li>
              <div class="title">首款支付方式</div>
              <div class="desk"><%= @order.pay1_type %></div>
            </li>
            <li>
              <div class="title">首款支付时间</div>
              <div class="desk"><%= @order.pay1_time.try :strftime, '%Y-%m-%d %H:%M:%S' %></div>
            </li>
            <li>
              <div class="title">首款支付金额（元）</div>
              <div class="desk"><%= @order.pay1_amount %></div>
            </li>
            <li>
              <div class="title">尾款支付方式</div>
              <div class="desk"><%= @order.pay2_type %></div>
            </li>
            <li>
              <div class="title">尾款支付时间</div>
              <div class="desk"><%= @order.pay2_time.try :strftime, '%Y-%m-%d %H:%M:%S' %></div>
            </li>
            <li>
              <div class="title">尾款支付金额（元）</div>
              <div class="desk"><%= @order.pay2_amount %></div>
            </li>
            <li>
              <div class="title">订单备注</div>
              <div class="desk"><%= @order.remark %></div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <%= link_to '返回', orders_path %>
  <%= link_to '删除订单', order_path(@order), method: :delete, data: { confirm: "确定删除该订单吗？" }, class: 'pull-right flex' %>
</div>
