<%= form_with(model: car_body, local: true) do |form| %>
  <% if car_body.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(car_body.errors.count, "error") %> prohibited this car_body from being saved:</h2>

      <ul>
      <% car_body.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :body_id %>
    <%= form.text_field :body_id, id: :car_body_body_id %>
  </div>

  <div class="field">
    <%= form.label :body_type %>
    <%= form.text_field :body_type, id: :car_body_body_type %>
  </div>

  <div class="field">
    <%= form.label :brand %>
    <%= form.text_field :brand, id: :car_body_brand %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.number_field :status, id: :car_body_status %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
