<%= form_with(model: driver, local: true) do |form| %>
  <% if driver.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(driver.errors.count, "error") %> prohibited this driver from being saved:</h2>

      <ul>
      <% driver.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :driver_name %>
  </div>

  <div class="field">
    <%= form.label :tel %>
    <%= form.text_field :tel, id: :driver_tel %>
  </div>

  <div class="field">
    <%= form.label :gender %>
    <%= form.number_field :gender, id: :driver_gender %>
  </div>

  <div class="field">
    <%= form.label :age %>
    <%= form.number_field :age, id: :driver_age %>
  </div>

  <div class="field">
    <%= form.label :join_time %>
    <%= form.text_field :join_time, id: :driver_join_time %>
  </div>

  <div class="field">
    <%= form.label :info %>
    <%= form.text_field :info, id: :driver_info %>
  </div>

  <div class="field">
    <%= form.label :remark %>
    <%= form.text_field :remark, id: :driver_remark %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
